*{
    margin:0;
    padding:0;
    font-family: calibri;
}
/* main page background image with properties  */
header{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../34.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

/* Heading of the main page  */
.name h1{
    color: ivory;
    font-family: Verdana;
    font-weight: bold;
    position: absolute;
    top: 3%;
    left: 6%;
    font-size: 47px;
    text-orientation: upright;
}

/* menu position  */
.main ul{
    list-style-type: none;
    position: absolute;
    top: 14%;
    left: 5%;
}

/* menu list display  */
.main ul li{
    display: inline-block;
}

/* menu list detailed properties  */
.main ul li a{
    text-decoration: none;
    color: seashell;
    font-weight: bold;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
}

/* hover of the menu items  */
.main ul li a:hover{
    background-color: white;
    color: darkgreen;
}

/* declaration of active button in menu  */
/*.active, ul li:hover{
    background-color: darkolivegreen;
    color: darkmagenta;
    
}*/

/* submenu 1  */
.sub1{
    display: none;
}

.main ul li:hover .sub1{
    display: block;
    position: absolute;
    margin-top: 5px;
    margin-left: -15px;
}

.main ul li:hover .sub1 ul li{
    display: block;
    margin: 10px;
    
}

.main ul li:hover .sub1 ul li:last-child{
    border-bottom: none;
}

.main, ul li:hover .sub1 ul li a{
    border: 1px solid transparent;
    transition: 0.6s ease;
    text-align: center;
}
.main, ul li:hover .sub1 ul li a:hover{
    color: green;
    
}

/* submenu 2  */
.sub2{
    display: none;
}

.main ul li:hover .sub2{
    display: block;
    position: absolute;
    margin-top: 5px;
    margin-left: -150px;
}

.main ul li:hover .sub2 ul li{
    display: block;
    margin: 10px;
    width: 400px;
}

.main ul li:hover .sub2 ul li:last-child{
    border-bottom: none;
}

.main, ul li:hover .sub2 ul li a{
    border: 1px solid transparent;
    transition: 0.6s ease;
    text-align: center;
}
.main, ul li:hover .sub2 ul li a:hover{
    color: green;
    
}

/* submenu 3  */
.sub3{
    display: none;
}

.main ul li:hover .sub3{
    display: block;
    position: absolute;
    margin-top: 5px;
    margin-left: -150px;
}

.main ul li:hover .sub3 ul li{
    display: block;
    margin: 10px;
    width: 400px;
}

.main ul li:hover .sub3 ul li:last-child{
    border-bottom: none;
}

.main, ul li:hover .sub3 ul li a{
    border: 1px solid transparent;
    transition: 0.6s ease;
    text-align: center;
}
.main, ul li:hover .sub3 ul li a:hover{
    color: green ;
    
}

/* submenu 4  */
.sub4{
    display: none;
}

.main ul li:hover .sub4{
    display: block;
    position: absolute;
    margin-top: 5px;
    margin-left: -100px;
}

.main ul li:hover .sub4 ul li{
    display: ruby-base-container;
    margin: 10px;
    width: 300px;
    
}

.main ul li:hover .sub4 ul li:last-child{
    border-bottom: none;
    
}

.main, ul li:hover .sub4 ul li a{
    border: 1px solid transparent;
    transition: 0.6s ease;
    text-align: center;
    
    
}
.main, ul li:hover .sub4 ul li a:hover{
    color: green;
    
}

/* submenu 5  */
.sub5{
    display: none;
}

.main ul li:hover .sub5{
    display: block;
    position: absolute;
    margin-top: 5px;
    margin-left: -15px;
}

.main ul li:hover .sub5 ul li{
    display: block;
    margin: 10px;
    
}

.main ul li:hover .sub5 ul li:last-child{
    border-bottom: none;
}

.main, ul li:hover .sub5 ul li a{
    border: 1px solid transparent;
    transition: 0.6s ease;
    text-align: center;
    
}
.main, ul li:hover .sub5 ul li a:hover{
    color: green;
    
}


/* search field property  */
.wrap{
    position: absolute;
    width: 37%;
    top: 4.3%;
    right: 0px;
 
}

.search{
    width: 100%;
    position: relative;
}

.searchterm{
    width: 75%;
    border: 2px  black transparent;
    padding: 4px;
    font-size: 17px;
    outline: none;
    color: green;
    font-weight: bold;
    background-color:black;
}

.searchbtn{
    position: absolute;
    width: 31px;
    height: 35px;
    border: 1px solid black;
    background-color:black transparent;
    text-align: center;
    color: green;
    font-size: 18px;
}

/* language button properties */

.lang{
    position: absolute;
    width: 31px;
    height: 35px;
    border: 1px solid black;
    background-color: black transparent;
    top: 3%;
    right: 3.5%;
    text-align: center;
    color: green;
    font-size: 20px;
    font-weight: bolder;
}

/* login form properties  */
.form-area{
    width:250px;
	height:250px;
	margin:60px auto 0;
	position: relative;
	background: rgba(0,0,0,0.4);
	text-align:center;
    margin-top:230px;
    margin-right: 70px;
	padding:35px;
	border:1px solid black transparent;
	-webkit-border-radius:70px 0 70px 0;
	-moz-border-radius:70px 0 70px 0;
	border-radius:70px 0 70px 0;
}

.form-area h3{
    margin-bottom:45px;
    color:#fff;
}

.img-area{
    width: 50px;
    height:50px;
    border-radius:50%
    background-color:none;
    position:absolute;
    top:-5%;
    left:45%
}

.img-area img{
     width:60%;
	 padding:10px;
	 }

.x{
    width:100%;
    height: 30px;
    border-radius: 15px 0 15px 0;
    border: 2px solid #fff;
    margin-bottom: 15px;
    background-color: transparent;
    color: #ffff;
}

.form-area p{
    text-align: left;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
} 

.btn{
    display: inline-block;
    height: 40px;
    width: 150px;
    line-height: 40px;
    overflow: hidden;
    position: relative;
    text-align: center;
    background: green;
    border-radius: 25px;
    color: #fff;
    text-transform: uppercase;
    margin-top: 20px;
    cursor: pointer;
    font-weight: bold;
}

.btn-text{
    display: block;
    height: 100%;
    position: relative;
    top:0;
    -webkit-transition: top 0.5s;
    -moz-transition: top 0.5s;
    -ms-transistion:top 0.5s;
    -o-transition: top 0.5s;
    transition: top 0.5s;
    width: 100%;
    font-size: 15px;
}

.btn:hover .btn-text{
    top: -100%;
}

/* forgot password properties   */
.for-pass{
    text-decoration: none;
    display:block;
    margin-top: 30px;
    font-weight: bold;
    font-size: 15px;
    color:#fff ;
}

/* text properties   */
.pra h3{
    position: absolute;
    top: 25%;
    left: 2%;
    color: white;
    
    font-family: cursive;
}
.pra p{
    position: absolute;
    top: 30%;
    left: 2%;
    color: white;
    font-family: cursive;
}

/*    */